<div class="jumbotron">
  <h1>Benchmarking <small>Hard Disk Drives</small></h1>
  <p></p>
  <p><a class="btn btn-primary btn-lg" href="/hdd/devices" role="button">Select devices</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Github C++</div>
			<div class="panel-body">
				<ul class="list-unstyled">
					<li>
						<a href="https://github.com/cdeckert/Team-Project-HDD-Benchmarks">C++ Repo</a>
					</li>
					<li>
						<a href="https://github.com/cdeckert/Team-Project-HDD-Benchmarks/issues/milestones">Milestones</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Github Rails</div>
			<div class="panel-body">
				<ul class="list-unstyled">
					<li>
						<a href="https://github.com/cdeckert/HDDReport">Rails Repo</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4">
	</div>
</div>