<h1>Hddbenchmarks</h1>
<ul class="list-group">
<% @benchmarks.each do |benchmark| %>
	<li class="list-group-item">
	<%= link_to benchmark.name, benchmark %>
	<span class="badge"><%=benchmark.measurements.size() %></span>
	</li>
<% end %>
</ul>